<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TASKS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      
        {% if request.user.is_authenticated %}
            <p>{{request.user}} </p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <hr> 
        <form action="" method="get">
            <input type="text" name="search-area" value="{{search_input}}">
            <input type="submit" value="Search">
        </form>
        <h1>MY TO DO LIST</h1>
        <a href="{% url 'task-create' %}">Add Task</a>
        <table>
            <tr>
                <th>ITEM</th>
                <th></th>
            </tr>
        
        {%for item in tasks%}
            <tr>
                <td>{{item.title}}</td>
                <td><a href="{% url 'task' item.id %}">view</a></td>
                <td><a href="{% url 'task-update' item.id %}">Update</a></td>
                <td><a href="{% url 'task-delete' item.id %}">Delete</a></td>
            </tr>

        {%empty%}
        <h1>There is no item in the list</h1>
        </table>
        {%endfor%}
        <script src="" async defer></script>
    </body>
</html>